# DataFrame   

    Always remember that, this D and F in DataFrame will be Always in capital
    It is a 2D DS
    By default, the value stored in DataFrame will be float

#SYNTAX :  pd.DataFrame(data, index, columns, dtype, copy)

In [1]:
import pandas as pd

# CRUD operation

In [ ]:
C  -> Create

In [ ]:
1. Lists
2. Dict
3. ndarrays
4. Series
5. Another DataFrame

1.Empty DataFrame

In [4]:
df=pd.DataFrame()

In [5]:
df

Empty DataFrame
Columns: []
Index: []

2. Create a DataFrame using List

In [10]:
data=[7,8,44,56,23,98]
df=pd.DataFrame(data)

In [11]:
df  #<- The above 0 in df, shows the column number of DataFrame

    0
0   7
1   8
2  44
3  56
4  23
5  98

In [12]:
s=pd.Series(data)

In [13]:
s   #<- Here, it is one dimensional, so it gives only 1 side rows number

0     7
1     8
2    44
3    56
4    23
5    98
dtype: int64

In [16]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [17]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [20]:
data

[['Dog', 'Bhaw Bhaw'], ['Cat', 'Meow'], ['COw', 'Moo']]

In [30]:
data=[["Dog","Bhaw Bhaw"],["Cat","Meow"],["Cow","Moo"]]
df=pd.DataFrame(data)
s=pd.Series(data)

In [29]:
df

     0          1
0  Dog  Bhaw Bhaw
1  Cat       Meow
2  Cow        Moo

In [31]:
s

0    [Dog, Bhaw Bhaw]
1         [Cat, Meow]
2          [Cow, Moo]
dtype: object

In [32]:
df=pd.DataFrame(data,columns=["Animal_name","Animal_sound"])

In [12]:
df=pd.DataFrame(data,columns=["Animal_name","Animal_sound"])

In [33]:
df

  Animal_name Animal_sound
0         Dog    Bhaw Bhaw
1         Cat         Meow
2         Cow          Moo

In [34]:
data=[["Dog","Bhaw Bhaw"],["Cat","Meow"],["Cow","Moo"]]
df=pd.DataFrame(data,columns=["Animal_name"])   #<-- it will give en error bcoz if you give name to 1 column, then you must need to give name to every columns

ValueError: 1 columns passed, passed data had 2 columns

# 3. Dict

In [52]:
data={
    "Name":["Ram","Rahul","Sirisha"],
    "Age":[25,20,18]
}
df = pd.DataFrame(data)  #Here, remember that with the help of dictionary, the keys of dictionary will become columns in DataFrame

In [53]:
df

      Name  Age
0      Ram   25
1    Rahul   20
2  Sirisha   18

In [60]:
data={
    "Name":["Ram","Rahul","Sirisha"],
    "Age":[25,20,18]
}
df=pd.DataFrame(data, index=["A","B","C"])

In [62]:
df

      Name  Age
A      Ram   25
B    Rahul   20
C  Sirisha   18

In [63]:
df=pd.DataFrame(data, columns=["A","B"])

In [64]:
df

Empty DataFrame
Columns: [A, B]
Index: []

In [65]:
data={
    "Name":["Ram","Rahul","Sirisha"],
    "Age":[25,20,18]
}
df=pd.DataFrame(data, index=["A","B","C","D"])  #<- It gives an error, bcoz length of index should be grater than its value

ValueError: Shape of passed values is (3, 2), indices imply (4, 2)

In [67]:
data={
    "Name":["Ram","Rahul","Sirisha"],
    "Age":[25,20,18,65]
}
df=pd.DataFrame(data,index=["A","B","C","D"]) #Though, here Age value is 4. but name has only 3. So, it will give an error

ValueError: Shape of passed values is (3, 2), indices imply (4, 2)

# create database using series and dictionaries

In [ ]:
# You can create a NaN value in DataFrame by using this method

In [76]:
data={
      "Karan_marks":pd.Series([50,60,70],index=["test1","test2","test3"]),
      "Rahul_marks":pd.Series([85,49,67,94,63],index=["test1","ptest1","test2","ptest2","test3"])
     }
df=pd.DataFrame(data)

In [31]:
df

        Karan_marks  Rahul_marks
ptest1          NaN           49
ptest2          NaN           94
test1          50.0           85
test2          60.0           67
test3          70.0           63

In [77]:
data={
      "Karan_marks":pd.Series([50,60,70],index=["test1","test2","test3"]),
      "Rahul_marks":pd.Series([85,49,67,94,63],index=["test1","ptest1","test2","ptest2","test3"])
     }
df=pd.DataFrame(data,columns=["k_marks","R_marks"]) #<- It will not overwrite with on old column, but it makes a new column which will be empty

In [34]:
df

Empty DataFrame
Columns: [k_marks, R_marks]
Index: []

In [78]:
data={
      "Karan_marks":pd.Series([50,60,70],index=["test1","test2","test3"]),
      "Rahul_marks":pd.Series([85,49,67,94,63],index=["test1","ptest1","test2","ptest2","test3"])
     }
df=pd.DataFrame(data,index=["A","B"])

In [79]:
df   #<- Just same as seris, if row A and B are not present in table, it will print NaN values

   Karan_marks  Rahul_marks
A          NaN          NaN
B          NaN          NaN

In [84]:
data={
      "Karan_marks":pd.Series([50,60,70],index=["AA","BB","test3"]),
      "Rahul_marks":pd.Series([85,49,67,94,63],index=["AA","ptest1","BB","ptest2","test3"])
     }
df=pd.DataFrame(data,index=["AA","BB"])

In [85]:
df

    Karan_marks  Rahul_marks
AA           50           85
BB           60           67

In [86]:
data={
      "Karan_marks":pd.Series([50,60,70],index=["AA","BB","test3"]),
      "Rahul_marks":pd.Series([85,49,67,94,63],index=["AA","ptest1","BB","ptest2","test3"])
     }
df=pd.DataFrame(data,columns=["A","B"],index=["AA","BB"])

In [87]:
df

      A    B
AA  NaN  NaN
BB  NaN  NaN

5. Create a DataFrame from List of dictionary

In [103]:
data=[
    {
        "A":1,
        "B":2
    },
    {
        "C":3,
        "D":4
    },
    {
        "E":5,
        "F":6
    }
]
print(data)

[{'A': 1, 'B': 2}, {'C': 3, 'D': 4}, {'E': 5, 'F': 6}]

In [104]:
df=pd.DataFrame(data)

In [105]:
df

     A    B    C    D    E    F
0  1.0  2.0  NaN  NaN  NaN  NaN
1  NaN  NaN  3.0  4.0  NaN  NaN
2  NaN  NaN  NaN  NaN  5.0  6.0

In [106]:
data=[{
    "A":1,
    "B":2
},{
    "C":5,
    "D":65
},{
    "E":78,
    "F":98
}]
df=pd.DataFrame(data,index=["a","b","c"])

In [107]:
df

     A    B    C     D     E     F
a  1.0  2.0  NaN   NaN   NaN   NaN
b  NaN  NaN  5.0  65.0   NaN   NaN
c  NaN  NaN  NaN   NaN  78.0  98.0

In [42]:
data=[
    {
        "A":1,
        "B":2,
        "C":90
    },
    {
        "C":3,
        "D":4
    },
    {
        "E":5,
        "F":6
    }
]
df=pd.DataFrame(data, index=["X","Y","Z"])
df

     A    B     C    D    E    F
X  1.0  2.0  90.0  NaN  NaN  NaN
Y  NaN  NaN   3.0  4.0  NaN  NaN
Z  NaN  NaN   NaN  NaN  5.0  6.0

In [119]:
li=[[1,2,3,4,5],[6,7,8,9,10]]
df=pd.DataFrame(li,index=["A","B"])

In [120]:
df

   0  1  2  3   4
A  1  2  3  4   5
B  6  7  8  9  10

In [127]:
li=[[1,2,3,4,5],[6,7,8,9,10]]
df=pd.DataFrame(li,index=["A","B"])

In [128]:
df

   0  1  2  3   4
A  1  2  3  4   5
B  6  7  8  9  10

# Updation

In [136]:
data=[10,20,30,40,50,60,70]
df=pd.DataFrame(data,columns=["A"])

In [133]:
df

    0
0  10
1  20
2  30
3  40
4  50
5  60
6  70

In [145]:
data = [10,20,30,40,50,60,70]
data1=[100,200,300,400,500,600,700]
df= pd.DataFrame([data,data1],columns=["A","B","C","D","E","F","G"])

In [143]:
df

     A    B    C    D    E    F    G
0   10   20   30   40   50   60   70
1  100  200  300  400  500  600  700

In [140]:
data = [[10,20,30,40,50,60,70]]    #<- When you write the list in two [[]], at that time dataframe will take the values in different columns
df= pd.DataFrame(data,columns=["A","B","C","D","E","F","G"])

In [141]:
df

    A   B   C   D   E   F   G
0  10  20  30  40  50  60  70

In [146]:
data=[10,20,30,40,50]      #<-This time, the data frame will take the value in same column but different row
df=pd.DataFrame(data)

In [147]:
df

    0
0  10
1  20
2  30
3  40
4  50

# 1. Column Selection

In [148]:
data = [10,20,30,40,50,60,70]
data1=[100,200,300,400,500,600,700]
df= pd.DataFrame([data,data1],columns=["A","B","C","D","E","F","G"])

In [149]:
df

     A    B    C    D    E    F    G
0   10   20   30   40   50   60   70
1  100  200  300  400  500  600  700

In [150]:
df["B"]

0     20
1    200
Name: B, dtype: int64

In [151]:
df["F"]

0     60
1    600
Name: F, dtype: int64

2. Add a column

In [57]:
df["H"]

KeyError: 'H'

In [152]:
df["H"]=[56,78]

In [153]:
df

     A    B    C    D    E    F    G   H
0   10   20   30   40   50   60   70  56
1  100  200  300  400  500  600  700  78

In [63]:
df["I"]=[85,97,63]  #<-it gives en error

ValueError: Length of values (3) does not match length of index (2)

In [168]:
df["H"]=pd.Series([56,78,98])  #<- This series function will add only 2 elements inside the DataFrame bcoz there is only 2 rows, so other values will be ignore automatically

In [169]:
df

     A    B    C    D    E    F    G   H     M
0   10   20   30   40   50   60   70  56  58.0
1  100  200  300  400  500  600  700  78   NaN

In [160]:
df["M"]=pd.Series([58])  #<- It gives NaN to the last element

In [165]:
df

     A    B    C    D    E    F    G   H     M
0   10   20   30   40   50   60   70  56  58.0
1  100  200  300  400  500  600  700  78   NaN

In [170]:
df["z"]=pd.Series([85,96,73,34],index=[0,1,2,3])  #<- It will print only the values which will be at index 0 & 1

In [171]:
df

     A    B    C    D    E    F    G   H     M   z
0   10   20   30   40   50   60   70  56  58.0  85
1  100  200  300  400  500  600  700  78   NaN  96

In [172]:
df["Y"]=pd.Series([1,2,3,4],index=["A",'B','C','D'])  #<- This will print NaN iand NaN in both index 0 & 1

In [173]:
df

     A    B    C    D    E    F    G   H     M   z   Y
0   10   20   30   40   50   60   70  56  58.0  85 NaN
1  100  200  300  400  500  600  700  78   NaN  96 NaN

In [74]:
df["A"]=[50,80]  #<- you can change the value in the clumn by this

In [75]:
df

    A    B    C    D    E    F    G   H     M  z   Y
0  50   20   30   40   50   60   70  56  58.0  1 NaN
1  80  200  300  400  500  600  700  78   NaN  2 NaN

3. Delete a column

In [174]:
df

     A    B    C    D    E    F    G   H     M   z   Y
0   10   20   30   40   50   60   70  56  58.0  85 NaN
1  100  200  300  400  500  600  700  78   NaN  96 NaN

In [175]:
df.drop(columns=["H"])  #<- This will not delete column for permamently

     A    B    C    D    E    F    G     M   z   Y
0   10   20   30   40   50   60   70  58.0  85 NaN
1  100  200  300  400  500  600  700   NaN  96 NaN

In [80]:
df

    A    B    C    D    E    F    G   H     M  z   Y
0  50   20   30   40   50   60   70  56  58.0  1 NaN
1  80  200  300  400  500  600  700  78   NaN  2 NaN

In [176]:
df.drop(columns=["G"],inplace=True)  #<- It will permanently delete the G column from the dataframe

In [177]:
df

     A    B    C    D    E    F   H     M   z   Y
0   10   20   30   40   50   60  56  58.0  85 NaN
1  100  200  300  400  500  600  78   NaN  96 NaN

In [85]:
df.drop(index=[1])    #<- It will delete the index=1 row from the dataframe but this will not be permanently

    A   B   C   D   E   F   H     M  z   Y
0  50  20  30  40  50  60  56  58.0  1 NaN

In [185]:
del df["B"]  #<- This will directly delete B for permanent

In [190]:
df

     C    D    E    F   H     M   z   Y
0   30   40   50   60  56  58.0  85 NaN
1  300  400  500  600  78   NaN  96 NaN

In [192]:
#Pop function
df.pop("A")   #<- this will delete column "A" from the DataFrame

In [193]:
df

     C    D    E    F   H     M   z   Y
0   30   40   50   60  56  58.0  85 NaN
1  300  400  500  600  78   NaN  96 NaN

In [196]:
df["C"]   #<- It will give values in form of Series

0     30
1    300
Name: C, dtype: int64

In [197]:
df[["C"]]  #<- it will call from the DataFrame

     C
0   30
1  300

In [202]:
df[['E',"F",'H']]   #<- It will print the exact column from the DataFrame

     E    F   H
0   50   60  56
1  500  600  78

In [96]:
df['E','F','H'] #<- It will give en error bcoz at this way, it can give only 1 column values

KeyError: ('E', 'F', 'H')

In [203]:
del df[["D","H"]]  #<- you can not delete the columns like this

TypeError: '['D', 'H']' is an invalid key

In [99]:
del df["D","H"]   #<- It mean you can't delete multiple columns with the del method

KeyError: ('D', 'H')

In [100]:
df.pop("D","H")

TypeError: pop() takes 2 positional arguments but 3 were given

In [101]:
df.pop(["D","H"]) #<- This pop function will also not delete multiple columns

TypeError: '['D', 'H']' is an invalid key

In [102]:
df.drop(["D","H"])

KeyError: "['D' 'H'] not found in axis"

In [205]:
df.drop(columns=["D","H"])  #<- You can delete multiple items using drop function

     C    E    F     M   z   Y
0   30   50   60  58.0  85 NaN
1  300  500  600   NaN  96 NaN

In [104]:
df.drop(["D","H"])  #<- Here,if you want to delete it directly,without column, then you have to use change the axis for it

KeyError: "['D' 'H'] not found in axis"

In [212]:
df.drop(["C"],axis=1)

     D    E    F   H     M   z   Y
0   40   50   60  56  58.0  85 NaN
1  400  500  600  78   NaN  96 NaN

In [206]:
df.drop(["D","H"],axis=1)   #axis=1 will take column into consideration when axis=0 will take rows into consideration. By default it hase taken axis=0

     C    E    F     M   z   Y
0   30   50   60  58.0  85 NaN
1  300  500  600   NaN  96 NaN

In [218]:
df

     C    D    E    F   H     M   z   Y      A
0   30   40   50   60  56  58.0  85 NaN  114.0
1  300  400  500  600  78   NaN  96 NaN    NaN

In [219]:
df["P"]=df["E"]+df["C"]   #it will be sum both values and add them

In [220]:
df

     C    D    E    F   H     M   z   Y      A    P
0   30   40   50   60  56  58.0  85 NaN  114.0   80
1  300  400  500  600  78   NaN  96 NaN    NaN  800

In [221]:
df["A"]=df["M"]+df["H"]  # NaN + any number will be equal to NaN

In [222]:
df

     C    D    E    F   H     M   z   Y      A    P
0   30   40   50   60  56  58.0  85 NaN  114.0   80
1  300  400  500  600  78   NaN  96 NaN    NaN  800

In [223]:
print(df["A"]+df["M"])

0    172.0
1      NaN
dtype: float64

In [224]:
df["Y"]+df["A"]

0   NaN
1   NaN
dtype: float64

In [225]:
import numpy as np
np.dtype(df["A"])

dtype('float64')

In [226]:
df

     C    D    E    F   H     M   z   Y      A    P
0   30   40   50   60  56  58.0  85 NaN  114.0   80
1  300  400  500  600  78   NaN  96 NaN    NaN  800

In [245]:
df.drop([0],inplace=True)

In [247]:
df1=[{"A":45,"B":98,"C":104}]

In [248]:
df2=pd.DataFrame(df1,index=[1+2])

In [249]:
df2

    A   B    C
3  45  98  104

In [251]:
df1=[{"A":45,"B":98,"C":104,"K":56}]

In [252]:
df=df.append(df1)   #<- It will add these values of df1 in new row, and if there is no column in DataFrame, then it will make a new column automatically and also it append that values in new row lines

In [253]:
df   #<- Here, by mistake, I have run 2 times

     C      D      E      F     H   M     z   Y     A      P     B     K
1  300  400.0  500.0  600.0  78.0 NaN  96.0 NaN   NaN  800.0   NaN   NaN
0  104    NaN    NaN    NaN   NaN NaN   NaN NaN  45.0    NaN  98.0  56.0

In [255]:
df=df.append(df1,index="Hey")  #<- It will not take values like this

TypeError: append() got an unexpected keyword argument 'index'

In [256]:
df

     C      D      E      F     H   M     z   Y     A      P     B     K
1  300  400.0  500.0  600.0  78.0 NaN  96.0 NaN   NaN  800.0   NaN   NaN
0  104    NaN    NaN    NaN   NaN NaN   NaN NaN  45.0    NaN  98.0  56.0

In [257]:
df2=pd.DataFrame(df)  #<- You can also make a dataframe from the another dataframedf2

In [258]:
df2

     C      D      E      F     H   M     z   Y     A      P     B     K
1  300  400.0  500.0  600.0  78.0 NaN  96.0 NaN   NaN  800.0   NaN   NaN
0  104    NaN    NaN    NaN   NaN NaN   NaN NaN  45.0    NaN  98.0  56.0

In [154]:
df2=pd.DataFrame(df,index=["Hey"])  #<- You can't give index name like this

ValueError: cannot reindex from a duplicate axis

In [261]:
df=df.append(df)

In [262]:
df

     C      D      E      F     H   M     z   Y     A      P     B     K
1  300  400.0  500.0  600.0  78.0 NaN  96.0 NaN   NaN  800.0   NaN   NaN
0  104    NaN    NaN    NaN   NaN NaN   NaN NaN  45.0    NaN  98.0  56.0
1  300  400.0  500.0  600.0  78.0 NaN  96.0 NaN   NaN  800.0   NaN   NaN
0  104    NaN    NaN    NaN   NaN NaN   NaN NaN  45.0    NaN  98.0  56.0
1  300  400.0  500.0  600.0  78.0 NaN  96.0 NaN   NaN  800.0   NaN   NaN
0  104    NaN    NaN    NaN   NaN NaN   NaN NaN  45.0    NaN  98.0  56.0
1  300  400.0  500.0  600.0  78.0 NaN  96.0 NaN   NaN  800.0   NaN   NaN
0  104    NaN    NaN    NaN   NaN NaN   NaN NaN  45.0    NaN  98.0  56.0

In [263]:
df["Hello"]=130   #<-It will add 130 in every rows of Hello

In [264]:
df

,C,D,E,F,H,M,z,Y,A,P,B,K,Hello
1,300,400.0,500.0,600.0,78.0,NaN,96.0,NaN,NaN,800.0,NaN,NaN,130
0,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,98.0,56.0,130
1,300,400.0,500.0,600.0,78.0,NaN,96.0,NaN,NaN,800.0,NaN,NaN,130
0,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,98.0,56.0,130
1,300,400.0,500.0,600.0,78.0,NaN,96.0,NaN,NaN,800.0,NaN,NaN,130
0,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,98.0,56.0,130
1,300,400.0,500.0,600.0,78.0,NaN,96.0,NaN,NaN,800.0,NaN,NaN,130
0,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,98.0,56.0,130

In [265]:
df["Hey"]=[130,20,65]  #<- If you will do like this, then it will be give an error

ValueError: Length of values (3) does not match length of index (8)

In [ ]:
#when you want to add a column at a particular place

In [ ]:
# insert function is used for add a column at a perticular place
df.insert(column_index_location, name_of_column, data)

In [268]:
df.insert(2,"Hey","Jo")

In [272]:
df.insert(1,"bbye",300)  #<- it will insert at the column 1 and in DataFrame, column no. will also start from 0

In [273]:
df

,C,bbye,Hey,D,E,F,H,M,z,Y,A,P,B,K,Hello
1,300,300,Jo,400.0,500.0,600.0,78.0,NaN,96.0,NaN,NaN,800.0,NaN,NaN,130
0,104,300,Jo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,98.0,56.0,130
1,300,300,Jo,400.0,500.0,600.0,78.0,NaN,96.0,NaN,NaN,800.0,NaN,NaN,130
0,104,300,Jo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,98.0,56.0,130
1,300,300,Jo,400.0,500.0,600.0,78.0,NaN,96.0,NaN,NaN,800.0,NaN,NaN,130
0,104,300,Jo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,98.0,56.0,130
1,300,300,Jo,400.0,500.0,600.0,78.0,NaN,96.0,NaN,NaN,800.0,NaN,NaN,130
0,104,300,Jo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,98.0,56.0,130

In [176]:
df.insert(2,"hove",[800,34,568,471,56])  #<-either you have to give the whole row values or only 1 values for entering the column into the DataFrame

ValueError: Length of values (5) does not match length of index (8)

In [274]:
df.insert(3,"hud",[1,2,3,4,5,6,7,8])  #<- you can insert the values of all the rows using insert function

In [275]:
df

,C,bbye,Hey,hud,D,E,F,H,M,z,Y,A,P,B,K,Hello
1,300,300,Jo,1,400.0,500.0,600.0,78.0,NaN,96.0,NaN,NaN,800.0,NaN,NaN,130
0,104,300,Jo,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,98.0,56.0,130
1,300,300,Jo,3,400.0,500.0,600.0,78.0,NaN,96.0,NaN,NaN,800.0,NaN,NaN,130
0,104,300,Jo,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,98.0,56.0,130
1,300,300,Jo,5,400.0,500.0,600.0,78.0,NaN,96.0,NaN,NaN,800.0,NaN,NaN,130
0,104,300,Jo,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,98.0,56.0,130
1,300,300,Jo,7,400.0,500.0,600.0,78.0,NaN,96.0,NaN,NaN,800.0,NaN,NaN,130
0,104,300,Jo,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,98.0,56.0,130

In [276]:
df.insert(3,"yo",[1,2,3,4,5,6,7,8,9,10,11])    #<- It won't take this value because the values are out of range

ValueError: Length of values (11) does not match length of index (8)

In [278]:
%autosave 10

Autosaving every 10 seconds