# Pandas - Data Manipulation Tool

It's a Python library that is used while you are working with the datasets
  
     It has some functions
     1.Analyze
     2.Cleaning
     3.Explore
     4.Manipulation

# Why pandas?

It allows us to analyze big data

In [ ]:
MS Excel -> 10 million

In [3]:
# insta.xlxs has almost 100 trillion datapoints
# so Excel can't handle this . So for this data pandas and python are used
# It is used clean messy datasets and then make it readable and relevant

In [ ]:
NaN <- It means null value for python

In [ ]:
datasets -> table(Row & Column)
datapoimt -> particular row

# Pandas Data Structure
1.Series
2.Dataframes  <- The mostly using data structure in industry is Dataframe. 
3.Panel

Pandas DS are very fast because the DS are built on the Numpy array.

1. Series -> 1 Dimension <- 1-column
2. Dataframes -> 2-Dimensions <- 2-Rows & columns
3. Panel -> 3 Dimensions <- 3  
Here, The panel is in 3 dimension and it's hard to make a graph of 3 Dimension device. So, it is not mostly used in industries

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.4'

# Series
1. It is a 1D array like DS
2.[1,2,3,4,5,6,7,8] -> column

In [ ]:
SYNTAX : pd.series(data, index, dtype)

In [ ]:
# You can create a series by using various input datas such as
1. Array
2. Dict
3. Scalar value

# Creating an empty series

In [3]:
s=pd.Series()

<ipython-input-3-b65245d9df32>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s=pd.Series()

In [4]:
s

Series([], dtype: float64)

# Creating a series using numpy array

In [5]:
import numpy as np
data = np.array([12,45,32,89])
s=pd.Series(data)

In [7]:
s    # <- The first values shows the index of series values and you can change the index value of the python

0    12
1    45
2    32
3    89
dtype: int32

In [ ]:
in pandas if I have to call any 
row -> you can access it through index value and 
column -> You can access it by column name

In [13]:
import numpy as np
data = np.array([12,45,32,89])
s=pd.Series(data,index=[100,101,102,103])

In [14]:
s  #<- Here, you can see that we have changed the value of Series

100    12
101    45
102    32
103    89
dtype: int32

# creating a series using dictionary

In [15]:
data={
    "a": 10,
    "b": 40,
    "c": 90,
    "d": 95
}
s= pd.Series(data)

In [16]:
s    #<-- here, the keys of dictionary becomes the index of the series

a    10
b    40
c    90
d    95
dtype: int64

In [15]:
data={
    "a": 10,
    "b": 40,
    "c": 90,
    "d": 95
}
s= pd.Series(data, index=["f","z","h","m"]) #<- It takesthese value as index but not return any value. it returns as NaN
# Here, this is happened bcoz, in dictionary, the values are directly connceted with keys, so if try to change it in series, it will not happen

In [16]:
s

f   NaN
z   NaN
h   NaN
m   NaN
dtype: float64

In [19]:
data={
    "a": 10,
    "b": 40,
    "c": 90,
    "d": 95
}
s= pd.Series(data,index=["c","d","e","b","a"])

In [20]:
s   #<- e has no value, so it give NaN

c    90.0
d    95.0
e     NaN
b    40.0
a    10.0
dtype: float64

# CRUD operation
C -> creating a Series using the scalar value

In [22]:
data = 99  #<- It is a scalar value
s= pd.Series(data, index=[101,102,103,104])  <- #It will gives the smae values to every indexs

In [23]:
s

101    99
102    99
103    99
104    99
dtype: int64

# U -> Updation
1.Accessing the data from the pandas series DS

In [21]:
data=np.array([30,-7,65,-0.4,98,57,-21,10,89])
s=pd.Series(data)

In [22]:
s

0    30.0
1    -7.0
2    65.0
3    -0.4
4    98.0
5    57.0
6   -21.0
7    10.0
8    89.0
dtype: float64

In [25]:
s[4]   #<- we use index number as same as array or list for watch the value at given index in row

98.0

In [26]:
# For find thw first 3 value of the series
s[0:3]

0    30.0
1    -7.0
2    65.0
dtype: float64

In [28]:
s[:3]

0    30.0
1    -7.0
2    65.0
dtype: float64

In [31]:
# for find the values of last 3 rows
s[6:]

6   -21.0
7    10.0
8    89.0
dtype: float64

In [35]:
# You can also use negative index here for finding the value
s[-3:]

6   -21.0
7    10.0
8    89.0
dtype: float64

In [31]:
data={
    "A":56,
    "B":78,
    "C":96,
    "D":35
}
s=pd.Series(data,index=["a","b","C","D"])

In [32]:
s

a     NaN
b     NaN
C    96.0
D    35.0
dtype: float64

In [35]:
data=[85,64,96,45,26]
s=pd.Series(data,index=["d","f","g","h","g"])  #It will print both value with the same index

In [36]:
s

d    85
f    64
g    96
h    45
g    26
dtype: int64

In [38]:
s["g"]

g    96
g    26
dtype: int64

In [39]:
data={
    "a": 10,
    "b": 40,
    "c": 90,
    "d": 95
}
s= pd.Series(data,index=["c","d","e","b","a"])

In [40]:
s

c    90.0
d    95.0
e     NaN
b    40.0
a    10.0
dtype: float64

In [42]:
s[["c","b"]]  #<- you can use this method for call multiple values from index

c    90.0
b    40.0
dtype: float64

In [87]:
s[{"c","d"}]  #<- you can also use above method as same but in just curely bracket

d    95.0
c    90.0
dtype: float64

In [43]:
s.index

Index(['c', 'd', 'e', 'b', 'a'], dtype='object')

In [88]:
for i in s.index:
    if i=="a" or i=="b":
        print(s[i])

40.0
10.0

In [89]:
s

c    90.0
d    95.0
e     NaN
b    40.0
a    10.0
dtype: float64

In [91]:
s["e"]=85.5   #<- it will assign the value to at index "e"

In [92]:
s

c    90.0
d    95.0
e    85.5
b    40.0
a    10.0
dtype: float64

# Boolean Masking

    0 -> False
    1 -> True

In [93]:
s

c    90.0
d    95.0
e    85.5
b    40.0
a    10.0
dtype: float64

In [94]:
s>50

c     True
d     True
e     True
b    False
a    False
dtype: bool

In [95]:
s[s>50]    #It returns only that values which are true in series

c    90.0
d    95.0
e    85.5
dtype: float64

In [97]:
s[s>90]

d    95.0
dtype: float64

In [47]:
s[s>90 or s>10]    #It gives value error means you can't add multiple condition like that

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [48]:
s

c    90.0
d    95.0
e     NaN
b    40.0
a    10.0
dtype: float64

In [111]:
s.shape   # There are total 5 values in the s and also remember that, series have only 1 dimension. So, it will give only 1 values in dimension

(5,)

In [112]:
s.ndim

1

In [113]:
s.size  #<- it returns the total no. of elements inside the series

5

In [49]:
s.index  #It gives all the index of s

Index(['c', 'd', 'e', 'b', 'a'], dtype='object')

In [51]:
s.values  #It gives the values of s

# Decimal - 3 , 4, 5 ,6987
# Double - 5.6
# Float - 5.6888888

array([90., 95., nan, 40., 10.])

In [116]:
"10.0" in s.values  #<- It will return false bcoz it is string

False

In [69]:
10.0 in s.values

True

In [71]:
90 in s.values

True

In [70]:
"a" in s  # You can directly connect with index, but not with values

True

# Delete

In [73]:
s

c    90.0
d    95.0
e     NaN
b    40.0
a    10.0
dtype: float64

In [74]:
s.drop("a")  #<- It will not effect on real s. This is temporary delete

c    90.0
d    95.0
e     NaN
b    40.0
dtype: float64

In [75]:
s

c    90.0
d    95.0
e     NaN
b    40.0
a    10.0
dtype: float64

In [76]:
s.drop("e",inplace=True)    #<- it will permanently delete the the index a from s

In [77]:
s

c    90.0
d    95.0
b    40.0
a    10.0
dtype: float64

In [78]:
s.drop(["c","b"])

d    95.0
a    10.0
dtype: float64

In [79]:
s.drop(["c","d"],inplace=True)

In [80]:
s

b    40.0
a    10.0
dtype: float64

In [81]:
del s  #<- It will permanenently delete the series s

In [82]:
s

NameError: name 's' is not defined

In [87]:
data={
    "a": 10,
    "b": 40,
    "c": 90,
    "d": 95
}
s= pd.Series(data,index=["c","d","e","b","a"])

In [88]:
s

c    90.0
d    95.0
e     NaN
b    40.0
a    10.0
dtype: float64

In [89]:
s+2    #<- it doesn't effect on real value of s

c    92.0
d    97.0
e     NaN
b    42.0
a    12.0
dtype: float64

In [90]:
s-2

c    88.0
d    93.0
e     NaN
b    38.0
a     8.0
dtype: float64

In [91]:
s*2

c    180.0
d    190.0
e      NaN
b     80.0
a     20.0
dtype: float64

In [141]:
s/10

c    9.0
d    9.5
e    NaN
b    4.0
a    1.0
dtype: float64

In [142]:
s**2

c    8100.0
d    9025.0
e       NaN
b    1600.0
a     100.0
dtype: float64

In [92]:
np.power(s,2)   #<- np can be used here, bcoz panda library is made based on numpy

c    8100.0
d    9025.0
e       NaN
b    1600.0
a     100.0
dtype: float64

In [93]:
np.exp(s)   #<- It gives the exponential form of s

c    1.220403e+39
d    1.811239e+41
e             NaN
b    2.353853e+17
a    2.202647e+04
dtype: float64

In [94]:
s.drop("e",inplace=True)

In [100]:
s

c    90.0
d    95.0
b    40.0
a    10.0
dtype: float64

In [101]:
np.roots(s)

array([-0.63004624+0.j        , -0.21275466+0.36206264j,
       -0.21275466-0.36206264j])

In [99]:
s**(1/2)

c    9.486833
d    9.746794
b    6.324555
a    3.162278
dtype: float64

In [2]:
%autosave 120

Autosaving every 120 seconds